<h1 class= "Welcome">RubiServes</h1>
<hr>
<p class = "navbar" ><%= link_to "Menu Card", "/menus" %></p>
<p class = "navbar"><%= link_to "My Cart", "/mycart" %></p>
<p class="navbar"><%= link_to  "Sign Out", "/signout"%></p>
<hr>
<p> RubiServes is a cafeteria application designed with the help of Ruby on Rails by Aparna Naik. </p>