// Place all the styles related to the Cafeteria controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.navbar {
    font: 20px sans-serif;
    display: inline-block;
    padding-right: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}